@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.modal-container h2 {
  font-size: 2.4rem;
  font-family: "Work Sans", sans-serif;
}
.modal-container p {
  font-size: 1.4rem;
  margin: 1rem 0 2.4rem 0;
  line-height: 1.8rem;
  color: #212121;
  font-weight: 400;
  font-family: "Source Serif Pro", serif;
}
.container {
  margin: 5rem;
}
.modal-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(189, 189, 189, 0.9);
}
.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
  max-width: 30rem;
}
